* {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
  /* implementação antiga @media (prefers-color-scheme: dark) {} */
  --txt-light: black;
  --txt-dark: white;
  --bg-light: white;
  --bg-dark: black;
}

@font-face {
  font-family: "Libertinus";
  src: url("./fonts/Libertinus_Keyboard/LibertinusKeyboard-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

#title {
  font-family: "Libertinus", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

/* .txt {
  color: light-dark(var(--txt-light), var(--txt-dark));
} */

header {
  background-color: light-dark(#bacdb0, #2d4739);
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#change-theme {
  position: absolute;
  top: 23px;
  right: 15px;
  height: 35px;

  & img {
    height: 100%;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
}

#gameboard {
  color: white;
  background-color: #729b79;
  min-height: 442px;
  width: 592px;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 7px 5px 0px light-dark(black, rgb(177, 177, 177));
  border: 4px solid light-dark(black, rgb(177, 177, 177));
  font-family: "Montserrat";
  font-size: 1.5rem;
  padding: 20px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 25fr 28fr 12fr;
  /* grid-template-rows: 50px; */
  grid-auto-rows: 50px;
  position: relative;

  & > div {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 1px solid white;
  }
}

#add-player-row {
  grid-column: span 3;

  & button {
    width: 10%;
    height: 100%;
    cursor: pointer;
    margin-top: 5px;

    & img {
      height: 70%;
    }
  }

  & button:last-child img {
    transform: rotate(45deg);
  }

  & input {
    height: 100%;
    font-size: 30px;
    width: 80%;
    background: none;
    border: none;
    outline: none;
    padding-left: 6px;
    text-transform: uppercase;
    color: white;

    &::placeholder {
      text-transform: none;
      color: rgb(192, 192, 192);
    }
  }
}

#score-header,
#total-header {
  justify-content: center;
}

button[type="button"] {
  background: none;
  border: none;
  /* outline: 1px solid black; */
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Libertinus", sans-serif;
  text-transform: uppercase;
}

#unshift-btn {
  background-image: url("./images/rotate-solid-full.svg");
  width: 25px;
  height: 25px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.remove-button {
  background-image: url("./images/trash-solid-full.svg") !important;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

/* aplica regras para a primeira coluna */
#players-header,
.player-name-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;

  & span {
    max-width: 190px; /* tamanho do texto */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#players-header:hover #unshift-btn {
  opacity: 1;
}

.player-name-container:hover .remove-button {
  opacity: 1;
}

.score-button {
  height: 80%;
}

.score-button:not(:has(img)) {
  background-image: url("./images/question-solid-full.svg") !important;
}

:where(#dices button, .score-button:has(img)):hover {
  transform: scale(1.1);
}

#gameboard > .score-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.total-container {
  display: flex;
  justify-content: center;
}

#select-score {
  background-color: #2d4739;
  height: 150px;
  width: 166px;
  position: relative;
  border-radius: 20px;
  border: 4px solid rgb(177, 177, 177);

  & #dices {
    row-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* & #fragment {
    --size: 15px;
    width: var(--size);
    height: var(--size);
    background-color: red;
    position: absolute;
    transform: rotate(45deg);
    top: calc(50% - var(--size) / 2);
    left: -6px;
    z-index: 1;
  } */

  & #close-select-score {
    position: relative;
    width: 25px;
    height: 25px;
    left: calc(100% - 30px);
    top: 4px;
    background-image: url("./images/xmark-solid-full.svg");
  }
}

#history ul {
  height: 650px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  /* font-family: Roboto, Segoe UI, GeezaPro, "DejaVu Serif", "sans-serif", -apple-system, BlinkMacSystemFont; */
  font-size: 13px;
  overflow-y: hidden;
  height: auto;
  --border: 1px solid #e0e0e0;
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  & li {
    height: 35px;
    white-space: nowrap;
    min-width: 100%;
    border-bottom: 1px solid #e0e0e0;
    /* background-color: light-dark(black, white); */
  }

  & p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin: 0;
    width: 150px;
    padding: 6px 15px 6px 15px;
    height: 100%;
  }
}

#game-over {
  background-color: rgba(41, 41, 41, 0.404);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";

  & > div {
    background-color: rgb(104, 4, 4);
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation-name: loser-bg;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.92, 0.01, 0.34, 1.37);
  }
}

#game-over > div > div:first-child {
  opacity: 1;
  animation-name: loser-title-animation;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  transform: skew(0deg, -15deg);
  font-size: 25px;
  opacity: 0;

  & h1 {
    text-shadow: 3px 3px 0px rgb(177, 177, 177);
    margin: 0;
    text-transform: uppercase;
  }

  & h4 {
    /* text-shadow: 2px 2px 0px rgb(177, 177, 177); */
    color: rgb(221, 221, 221);
    margin: 0;
  }
}

#game-over > div > div:last-child {
  margin-top: 150px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 10px;
  opacity: 0;
  animation-name: game-saved;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;

  & img {
    height: 25px;
  }
}

@keyframes game-saved {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
  }
}

@keyframes loser-title-animation {
  0% {
    opacity: 0;
    transform: skew(0deg, 30deg);
  }

  70% {
    transform: skew(0deg, -15deg);
  }

  100% {
    opacity: 1;
    transform: skew(0deg, -15deg);
  }
}

@keyframes loser-bg {
  0% {
    width: 0;
    height: 20px;
  }

  80% {
    width: 100%;
    height: 20px;
  }

  100% {
    height: 200px;
  }
}
