* {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
  /* implementação antiga @media (prefers-color-scheme: dark) {} */
  --txt-light: black;
  --txt-dark: white;
  --bg-light: white;
  --bg-dark: black;
  --shadow: 0px 0px 30px #0000003d;
  /*sidebar*/
  --sidebar-width: 300px;
  --border-color: #464545;
  --sidebar-animation-time: 200ms;
  --button-size: 30px;
}

@font-face {
  font-family: "Libertinus";
  src: url("./fonts/Libertinus_Keyboard/LibertinusKeyboard-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

#title {
  font-family: "Libertinus", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

/* .txt {
  color: light-dark(var(--txt-light), var(--txt-dark));
} */

header {
  background-color: light-dark(#bacdb0, #2d4739);
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

b {
  text-decoration: underline;
}

#change-theme {
  top: 23px;
  left: 15px;
  height: 35px;
  margin-left: 20px;

  & img {
    height: 100%;
  }
}

#toggle-sidebar-btn {
  margin-right: 25px;
  top: 23px;
  right: 15px;
  height: 35px;

  & img {
    height: 100%;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
}

#gameboard {
  color: white;
  background-color: #729b79;
  min-height: 442px;
  width: 592px;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 7px 5px 0px light-dark(black, rgb(177, 177, 177));
  border: 4px solid light-dark(black, rgb(177, 177, 177));
  font-family: "Montserrat";
  font-size: 1.5rem;
  padding: 20px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 25fr 28fr 12fr;
  /* grid-template-rows: 50px; */
  grid-auto-rows: 50px;
  position: relative;

  & > div {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 1px solid white;
  }
}

#add-player-row {
  grid-column: span 3;

  & button {
    width: 10%;
    height: 100%;
    cursor: pointer;
    margin-top: 5px;

    & img {
      height: 70%;
    }
  }

  & button:last-child img {
    transform: rotate(45deg);
  }

  & input {
    height: 100%;
    font-size: 30px;
    width: 80%;
    background: none;
    border: none;
    outline: none;
    padding-left: 6px;
    text-transform: uppercase;
    color: white;

    &::placeholder {
      text-transform: none;
      color: rgb(192, 192, 192);
    }
  }
}

#score-header,
#total-header {
  justify-content: center;
}

button[type="button"] {
  background: none;
  border: none;
  /* outline: 1px solid black; */
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Libertinus", sans-serif;
  text-transform: uppercase;
}

#unshift-btn {
  background-image: url("./images/rotate-solid-full.svg");
  width: 25px;
  height: 25px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.remove-button {
  background-image: url("./images/trash-solid-full.svg") !important;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

/* aplica regras para a primeira coluna */
#players-header,
.player-name-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;

  & span {
    max-width: 190px; /* tamanho do texto */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#players-header:hover #unshift-btn {
  opacity: 1;
}

.player-name-container:hover .remove-button {
  opacity: 1;
}

.score-button {
  height: 80%;
}

.score-button:not(:has(img)) {
  background-image: url("./images/question-solid-full.svg") !important;
}

:where(#dices button, .score-button:has(img)):hover {
  transform: scale(1.1);
}

#gameboard > .score-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.total-container {
  display: flex;
  justify-content: center;
}

#select-score {
  background-color: #2d4739;
  height: 150px;
  width: 166px;
  position: relative;
  border-radius: 20px;
  border: 4px solid rgb(177, 177, 177);

  & #dices {
    row-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* & #fragment {
    --size: 15px;
    width: var(--size);
    height: var(--size);
    background-color: red;
    position: absolute;
    transform: rotate(45deg);
    top: calc(50% - var(--size) / 2);
    left: -6px;
    z-index: 1;
  } */

  & #close-select-score {
    position: relative;
    width: 25px;
    height: 25px;
    left: calc(100% - 30px);
    top: 4px;
    background-image: url("./images/xmark-solid-full.svg");
  }
}

#history ul {
  height: 650px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  /* font-family: Roboto, Segoe UI, GeezaPro, "DejaVu Serif", "sans-serif", -apple-system, BlinkMacSystemFont; */
  font-size: 13px;
  overflow-y: hidden;
  height: auto;
  --border: 1px solid #e0e0e0;
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  & li {
    height: 35px;
    white-space: nowrap;
    min-width: 100%;
    border-bottom: 1px solid #e0e0e0;
    /* background-color: light-dark(black, white); */
  }

  & p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin: 0;
    width: 150px;
    padding: 6px 15px 6px 15px;
    height: 100%;
  }
}

#game-over {
  background-color: rgba(41, 41, 41, 0.404);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";

  & > div {
    background-color: rgb(104, 4, 4);
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation-name: loser-bg;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.92, 0.01, 0.34, 1.37);
  }
}

#game-over > div > div:first-child {
  opacity: 1;
  animation-name: loser-title-animation;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  transform: skew(0deg, -15deg);
  font-size: 25px;
  opacity: 0;

  & h1 {
    text-shadow: 3px 3px 0px rgb(177, 177, 177);
    margin: 0;
    text-transform: uppercase;
  }

  & h4 {
    /* text-shadow: 2px 2px 0px rgb(177, 177, 177); */
    color: rgb(221, 221, 221);
    margin: 0;
  }
}

#game-over > div > div:last-child {
  margin-top: 150px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 10px;
  opacity: 0;
  animation-name: game-saved;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;

  & img {
    height: 25px;
  }
}

#check-results-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: "Montserrat";
  padding: 10px;
  border-radius: 8px;
  color: light-dark(black, white);
  border: 1px solid light-dark(black, white);
  transition-property: color, background-color;
  transition-duration: 200ms;

  &:hover {
    color: black;
    background-color: light-dark(transparent, white);
  }
}

@keyframes game-saved {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
  }
}

@keyframes loser-title-animation {
  0% {
    opacity: 0;
    transform: skew(0deg, 30deg);
  }

  70% {
    transform: skew(0deg, -15deg);
  }

  100% {
    opacity: 1;
    transform: skew(0deg, -15deg);
  }
}

@keyframes loser-bg {
  0% {
    width: 0;
    height: 20px;
  }

  80% {
    width: 100%;
    height: 20px;
  }

  100% {
    height: 200px;
  }
}

#version {
  position: fixed;
  bottom: 1px;
  right: 4px;
  font-family: "Montserrat";
  font-size: 14px;
  cursor: default;

  &::selection {
    background: none;
  }
}

#toast-area {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  font-family: "Montserrat";
}

.toast {
  background-color: light-dark(black, white);
  color: light-dark(white, black);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  text-align: center;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  overflow-x: auto;
  animation-name: toast-fade;
  animation-duration: 5s;
  animation-timing-function: linear;
  opacity: 0;
  position: relative;

  & h3 {
    margin: 0;
  }
}

@keyframes toast-fade {
  0% {
    opacity: 0;
    top: -30px;
  }

  4% {
    opacity: 1;
    top: 0;
  }

  90% {
    opacity: 1;
  }
}

.player-wins {
  font-size: x-small;
  color: rgb(226, 226, 226);
}

/* estilos da sidebar */

.rcf-sidebar-backdrop {
  background-color: light-dark(
    rgba(46, 48, 48, 0.849),
    rgba(46, 48, 48, 0.603)
  );
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
}

.rcf-sidebar {
  font-family: "Montserrat";
  background-color: rgba(0, 0, 0, 0.692);
  position: fixed;
  height: 100vh;
  height: 100dvh;
  width: var(--sidebar-width);
  left: 100%;
  top: 0;
  z-index: 99;
  padding: 10px 0 10px 0;
  color-scheme: dark;

  transition-property: left;
  transition-duration: var(--sidebar-animation-time);
  transition-timing-function: ease-out;

  & .rcf-sidebar-list {
    list-style: none;
    height: calc(100vh - 160px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
  }

  & .rcf-sidebar-list li {
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }

    &:hover {
      background-color: black;
    }

    & i {
      color: white;
    }

    & p {
      margin: 0;
    }

    & h2 {
      margin: 0 0 0 10px;
      font-size: 15px;
    }
  }

  & ::selection {
    background-color: blue;
  }
}

.rcf-sidebar-open {
  left: calc(100% - var(--sidebar-width));
}

.rcf-sidebar.rcf-sidebar-open .rcf-sidebar-list li {
  animation-name: list-items-popping;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(50px);
}

.remove-li-animation > li {
  animation: none !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@keyframes list-items-popping {
  from {
    /* transform: tranlateY(50px); */
    opacity: 0.3;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.rcf-sidebar-filters {
  display: flex;
  align-items: start;
  gap: 4px;

  & ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    /* max-width: calc($button-size * 3); */
  }

  & .filter-btn {
    font-family: "Montserrat";
    font-weight: 700;
    cursor: pointer;
    background: none;
    border: none;
    overflow: hidden;
    max-width: var(--button-size);
    height: var(--button-size);
    transition-property: max-width, padding-left, background-color;
    transition-duration: 0.5s, 0.5s, 0.2s;
    transition-timing-function: ease;
    padding-left: 9px;

    & span {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.5s;
      transition-timing-function: ease;
    }

    &:where(:hover, .filter-active) {
      max-width: 100px;
      padding-left: 6px;

      & span {
        opacity: 1;
      }
    }
  }

  & li:nth-child(1) .filter-btn:not(:disabled).filter-active {
    background-color: rgb(166, 0, 0);
  }

  & li:nth-child(2) .filter-btn:not(:disabled).filter-active {
    background-color: rgb(0, 89, 0);
  }

  & li:nth-child(3) .filter-btn:not(:disabled).filter-active {
    background-color: #690086;
  }

  & li:not(:last-child) .filter-btn {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
  }

  & li:last-child .filter-btn {
    border: 1px solid var(--border-color);
  }

  & .reload-btn {
    background: none;
    font-size: 21px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    width: 34px;
    height: 34px;
    position: relative;
    top: -2px;
    transform: rotate(-150deg);
    left: -30px;
    opacity: 0;

    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-property: transform, left, opacity;
    transition-delay: var(--sidebar-animation-time);

    &:hover {
      background-color: rgb(92 92 92);
    }

    &:active {
      transform: scale(0.9) !important;
    }
  }
}

.rcf-sidebar-open .reload-btn {
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.rotate {
  animation-name: rotate-reload;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-delay: 0s;
}

@keyframes rotate-reload {
  to {
    transform: rotate(359deg);
  }
}

.rcf-overflow-hidden {
  overflow-y: hidden;
}

/* modal */
.modal {
  font-family: "Montserrat";
  color: white;
  font-size: 1.5rem;
  padding: 20px;
  font-weight: 600;
  background-color: #729b79;
  box-shadow: 7px 5px 0px light-dark(black, rgb(177, 177, 177));
  border: 4px solid light-dark(black, rgb(177, 177, 177));
  position: fixed;
  top: -100%;
  left: 50%;
  padding: 20px;
  min-height: 442px;
  width: 592px;
  z-index: 99;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 25fr 28fr 12fr;
  grid-auto-rows: 50px;
  transition-delay: 0s, 0.25s;
  transition-duration: 0.3s, 0.3s;
  transition-property: top, transform;
  transition-timing-function: ease-out;
  transform: translatex(-50%) scale(0.7) matrix(0.1, 0, 0, 0.1, 0, 0);

  & > div {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 1px solid white;
  }
}

.modal.open {
  top: 30px;
  transform: translatex(-50%) scale(1) matrix(1, 0, 0, 1, 0, 0);
}

.modal-buttons {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  margin-top: 50px;
}

.modal-buttons button {
  border-radius: 30px;
  border: none;
  height: 50px;
  background-color: var(--color1);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.2s, 0.1s;
  transition-property: box-shadow, transform;

  & img {
    height: 50%;
  }
  #instagram_icon_modal {
    height: 90%;
    margin-right: -10px;
  }

  &:active {
    transform: translateY(3px) !important;
    box-shadow: none !important;
  }
}

.no-items {
  cursor: default !important;
  justify-content: start !important;

  & img {
    width: 30px;
  }

  &:hover {
    background-color: initial !important;
  }
}

.blink-line {
  animation-name: blink-line-ani;
  animation-delay: 600ms;
  animation-duration: 400ms;
  animation-timing-function: steps(2, start);
  animation-iteration-count: 3;
}

@keyframes blink-line-ani {
  from {
    background-color: red;
  }

  to {
    background-color: transparent;
  }
}
